<div id="loader">
    <div class="loader-content">
        <div class="stripe-loader">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
        </div>
    </div>
</div>
<div id="loader-after"></div>
<div id="page-transition">
    <div class="page-transition-content">
        <div class="stripe-loader">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
        </div>
    </div>
</div>
<div id="page-transition-after"></div>

<div id="page-wrap">
    <app-navbar></app-navbar>
    <app-header></app-header>
    <main>
        <app-case-studies></app-case-studies>
        <app-experiments></app-experiments>
        <app-contact></app-contact>
    </main>
</div>
<app-footer></app-footer>
